* {
    text-align: center;
}
body{
    margin: 0;
    /* background-color: rgb(0, 0, 0); */
}

header{
    background-color: rgb(126, 18, 33);
    padding: 5%;
}
header p{
    /* margin: 0; */
    color: rgba(255, 255, 255, 0.76);
    font-size: 25px;
    font-family: hack;
}
header span{
    font-weight: bold;
    font-size: 26px;
}
header h1 {
    color: rgba(209, 31, 31, 0.726);
    font-size: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: 0 auto 2% 0; */
    margin: 0;
}
fieldset{
    border: 5px solid rgba(209, 43, 43, 0.514);
    padding: 5%;
}
h2{
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    width: fit-content;
    margin: 5% auto;
    padding: 2% 5%;
    border: 4px solid;
    border-image: linear-gradient(145deg, orangered, transparent, transparent, transparent, orangered);
    border-image-slice: 1;
}

@media screen and (max-width: 600px) {
    header h1{
        font-size: 3rem;
    }
    header p{
        font-size: 1.2rem;
    }
    header span{
        font-size: 1.5rem;
    }
    h2{
        font-size: 2.1rem;
    }
}

.btn{
    max-width: 800px;
    margin: auto;
}
.slides{
    padding-top: 3%;
    padding-bottom: 10%;
    background: rgb(17, 17, 17);
}
.slides button{
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    color: whitesmoke;
    background: rgb(17, 17, 17);
    border: 2px solid;
    width: 180px;
    height: 50px;
    margin: 3%;
    cursor: pointer;
    background-repeat: no-repeat;
    transition: 300ms ease-in-out;
}
.slides button:active{
    position: relative;
    top: 3px;
}

#button-1{
    color: goldenrod;
    border-color: goldenrod;
    background-image: linear-gradient(goldenrod, goldenrod);
    background-size: 0;
}
#button-1:hover{
    color: black;
    background-size: 100%;
}

#button-2{
    color: green;
    border-color: green;
    background-image: linear-gradient(green, green);
    background-position: 180px;
}
#button-2:hover{
    color: black;
    background-position: 0;
}

#button-3{
    color: crimson;
    background-image: linear-gradient(crimson, crimson);
    border-color: crimson;
    background-size: 0;
    background-position: center;
}
#button-3:hover{
    color: black;
    background-size: 100%;
}

#button-4{
    position: relative;
    color: indigo;
}
#curve{
    background: indigo;
    border-radius: 120px;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 75px;
    opacity: 0;
    transition: 300ms ease-in-out;
}
.btn span{
    position: relative;
    background: transparent;
    transition: 300ms;
}
#button-4:hover span{
    color: whitesmoke;
}
#button-4:hover #curve{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    border-radius: 0;
}

#button-5{
    position: relative;
}
.slide-y{
    background: white;
    height: 0%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 300ms ease-in-out;
}
#button-5:hover span{
    color: black;
}
#button-5:hover .slide-y{
    height: 100%;
}

#button-6{
    position: relative;
    color: deepskyblue;
}
.open-x{
    background: deepskyblue;
    width: 100%;
    height: 0%;
    position: absolute;
    top: 20px;
    left: 0;
    transition: 250ms ease-in-out;
}
#button-6:hover .open-x{
    top: 0;
    height: 100%;
}
#button-6:hover span{
    color: black;
}

#button-7{
    position: relative;
    color: orangered;
}
.rotate{
    background: orangered;
    border-top-left-radius: 200%;
    border-bottom-right-radius: 200%;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 75px;
    opacity: 0;
    transition: 400ms ease-in-out;
}
#button-7:hover span{
    color: black;
}
#button-7:hover .rotate{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    border-radius: 0;
}

/* SHADOW BUTTONS  */
.shadow-buttons{
    padding-top: 5%;
    padding-bottom: 5%;
    /* background: rgb(236, 232, 232); */
    background: #e1d7f0;
}
.sh-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 7%;
    margin: 50px auto;
    max-width: 800px;
}
.shadow-buttons button{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.726);
    height: 40px;
    width: 160px;
    margin: 5% auto;
    border: 0;
    border-radius: 2rem;
    background: rgb(225, 209, 240);
    position: relative;
    cursor: pointer;
}

#sh-btn-1{
    box-shadow: 3px 4px 10px black;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.245), transparent);
}
#sh-btn-1:active{
    top: 2px;
    box-shadow: 2px 2px 3px ;
}

#sh-btn-2{
    box-shadow: 0 10px 16px ;
}
#sh-btn-2:active{
    top: 5px;
    box-shadow: 0 2px 3px ;
}

#sh-btn-3{
    box-shadow: -7px 10px 16px;
}
#sh-btn-3:active{
    top: 5px;
    right: 3px;
    box-shadow: -2px 3px 3px;
}

#sh-btn-4{
    box-shadow: 0px 0px 15px 5px ;
}
#sh-btn-4:active{
    height: 38px;
    width: 155px;
    box-shadow: 0px 0px 7px 2px ;
}

#sh-btn-5{
    box-shadow: 3px 5px 10px ;
}
#sh-btn-5:active{
    top: 5px;
    left: 3px;
    box-shadow: 1px 1px 5px ;
}

#sh-btn-6{
    box-shadow: -3px 5px 10px ;
}
#sh-btn-6:active{
    top: 5px;
    right: 3px;
    box-shadow: -1px 2px 3px ;
}

.metallic-buttons{
    background-image: url('images/light-gray-brushed-metallic-texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}
.metallic-buttons h2{
    color: #000;
    border-image: linear-gradient(145deg, rgb(54, 52, 51), transparent, transparent, transparent, rgb(54, 52, 51));
    border-image-slice: 1;
}
.metallic-buttons button{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.726);
    height: 40px;
    width: 160px;
    margin: 5% auto;
    border: 0;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
}
.metallic-buttons button:active{
    top: 3px;
}
.metal-btns{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 7%;
    margin: 50px auto;
    max-width: 800px;
}

#metal-btn-1{
    background: linear-gradient(45deg, rgb(39, 39, 39), transparent);
    background-position: 15px 10px;
    box-shadow: 5px 5px 10px, -5px -5px 10px white;
}
#metal-btn-1:active{
    box-shadow: 3px 3px 4px , -3px -3px 5px white;
}
#metal-btn-2{
    background: linear-gradient(45deg, rgb(95, 95, 95), transparent);
    background-position: -52px 10px;
    box-shadow: 5px 5px 10px, -5px -5px 6px rgb(221, 221, 221);
}
#metal-btn-2:active{
    top: -3px;
    box-shadow: 3px 3px 4px , -3px -3px 5px rgb(221, 221, 221);
}
#metal-btn-3{
    background: linear-gradient(45deg, rgb(83, 83, 83), rgb(161, 161, 161)) no-repeat;
    /* background-position: -52px 10px; */
    box-shadow: 5px 5px 10px, -5px -5px 6px rgb(235, 235, 235);
}
#metal-btn-3:active{
    box-shadow: 3px 3px 4px , -3px -3px 5px rgb(235, 235, 235);
}
#metal-btn-4{
    background-size: 30%;
    background: linear-gradient(45deg, rgb(12, 12, 12), rgb(161, 161, 161), black) no-repeat;
    box-shadow: 5px 5px 10px, -5px -5px 6px rgb(235, 235, 235);
}
#metal-btn-4:active{
    top: -1px;
    box-shadow: 3px 3px 4px , -3px -3px 5px rgb(235, 235, 235);
}
#metal-btn-5{
    background-size: 30%;
    background: linear-gradient(0deg, rgb(37, 37, 37), rgb(191, 192, 197), rgb(37, 37, 37)) no-repeat;
    box-shadow: 5px 0px 16px rgb(255, 255, 255), -5px 0px 16px rgb(12, 12, 12);
}
#metal-btn-5:active{
    top: 0;
    height: 38px;
    width: 157px;
    box-shadow: -3px 0px 10px rgb(12, 12, 12), 3px 0px 10px rgb(255, 255, 255);
}
#metal-btn-6{
    background-size: 30%;
    background: linear-gradient(90deg, rgb(37, 37, 37), rgb(191, 192, 197), rgb(37, 37, 37)) no-repeat;
    box-shadow: 0 0 16px 7px rgb(235, 235, 235);
}
#metal-btn-6:active{
    box-shadow: 0 0 7px 3px rgb(235, 235, 235);
}